.chainList {
  position: absolute;
  background-color: rgba(14, 13, 13, 0.856);
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: -25px;
  border-radius: 2px;
}

.listChainContent {
  color: greenyellow;
  font-size: 18px;
  margin: 10px 20px 10px 20px;
  padding: 0;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addressTickerCont {
  margin: 0;

  padding: 0;
}

.addressCont {
  margin: 0 15px;
  padding: 0;
}

.copy {
  margin: 0;
  padding: 0;
}
.copy:hover {
  background-color: red;
  cursor: pointer;
}

.copy:hover {
  cursor: pointer;
  color: rgb(223, 224, 224);
}
