.coinDataSpace {
  margin: 50px 0 50px;
  width: 90%;
  height: fit-content;
  border: 1px solid white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: black;
  font-size: 20px;
}

.dataContainer {
  width: 90%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  gap: 50px;
  flex-direction: column;
  box-sizing: border-box;
}
.coinNav {
  width: 80%;
  height: auto;
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
.logoSpace {
  /* border: 1px solid blue; */
  width: 500px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 40px;
  font-weight: 500;
}
.coinLogoData {
  width: 50px;
  height: 50px;
  display: flex;
  box-sizing: border-box;
  margin-right: 15px;
  margin-bottom: 13px;
}

.priceSpace {
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 500;
}
.priceContContainer {
  font-size: 30px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nameCont {
  height: 60px;
  margin: 0;
  padding: 0;
}
.priceContData {
  margin: 0;
  padding: 0;
}

.coinDescriptionContainer {
  width: 90%;
  height: 40%;
  /* border: 1px solid red; */
}

/* ---------------------------------CONTENT DATA ------------------------ */
.detailContainer {
  width: 80%;
  height: fit-content;
  /* border: 2px solid red; */
  box-sizing: border-box;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  box-sizing: border-box;
  border: 1px solid RED;
  margin: 0 0 20px 0;
}

.listDetailContainer {
  width: 45%;
  height: 95%;
  margin: 10px 0;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  box-sizing: border-box;
}

.listDetailQContainer {
  width: 49%;
  height: 98%;
}

.listDetailAContainer {
  width: 49%;
  height: 98%;

  display: flex;
  justify-content: flex-start;
}
.listCoinDetail {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.listCoinDetailItem {
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 20px;
}

.listCoinDetailItemContainerQ {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 40%;
}

.listCoinDetailItemContainerA {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 40%;
}

.listCoinDetailItemContentQ,
.listCoinDetailItemContentA {
  margin: 5px 0;
  padding: 0;
}

.listCoinDetailItemContentA {
  font-weight: 600;
}

.listCoinDetailItemContentQ {
  border-bottom: 1px solid grey;
}

.listCoinDetailItemContainerAddress {
  font-size: 13px;
  margin: 0 5px;
}

.addButton {
  background-color: black;
  color: greenyellow;
  border-radius: 5px;
}

.addButton:hover {
  background-color: greenyellow;
  color: red;
}

.coinTagsContent {
  width: 100%;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.coinDescriptionContainer {
  width: 100%;
  height: fit-content;
}

/* ------------------- OTHER ----------------- */
.otherContainer {
  width: 80%;
  height: 100px;
  margin-bottom: 20px;
}

.tagsTitleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tagsTitleContent {
  font-size: 15px;
  margin: 0 0 10px;
  padding: 0;
}

.coinTagsSpace {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  white-space: pre-wrap;
  font-weight: 600;
}
.coinTagsContent {
  margin: 0;
  padding: 0;
}
.copySingleIcon {
  background-color: white;
  border: none;
}

/* .coinDetails {
  width: 96%;
  height: 40%;

  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.capSupplyVol {
  width: 40%;
  height: 90%;

  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  flex-direction: row;
}
/* .coinDetailsContainer {
  
} */
/* .coinDetailsContentQ {
  margin: 0;
  padding: 0;
  font-size: 15px;
  border-bottom: 1px solid rgb(197, 195, 195);
  margin-bottom: 8px;
}
.coinDetailsContentA {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 8px;
  border-bottom: 1px solid rgb(197, 195, 195);
}

.websiteLink {
  text-decoration: none;
  color: black;
}

.chainEtc {
  width: 45%;
  height: 90%;
  border: 1px solid black;
  box-sizing: border-box;
}

.links {
  width: 96%;
  height: 25%;
  border: 1px solid black;
  box-sizing: border-box;
}

.load {
  font-size: 40px;
  font-weight: 800;
}

.addButtonsContainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 50px;
/* } */
