.CoinCard {
  box-sizing: border-box;
  width: 700px;
  height: 800px;
  border: 1px solid blueviolet;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.tickerCont {
  color: black;
  font-size: 100px;
  font-weight: 900;
  margin: 40px;
}

.priceContent {
  color: black;
  font-size: 100px;
  font-weight: 900;
  margin: 10px;
}

.priceCahngesCont {
  margin: 2px;
  font-size: 60px;
  font-weight: 900;
  color: rgb(57, 12, 92);
}
.priceCahnges {
  margin: 5px;
  font-weight: 900;
  font-size: 120px;
  color: rgb(0, 0, 0);
}
.coinLogo {
  width: 200px;
  height: 200px;
}
