.BuyDetailsModalContainer {
  left: 10%;
  top: 13%;
  position: absolute;
  margin-top: 10px;
  width: 300px;
  height: 200px;
  background-color: rgba(14, 13, 13, 0.856);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.updateBuyDetailsModalContainer {
  width: 100%;
  height: 95%;
}

.BuyDetailsModalForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

.inputBuyDetailsModal {
  background-color: black;
  color: greenyellow;
}
.closeBuyDetailsModal {
  width: 100%;
  height: 7%;

  display: flex;
  justify-content: flex-end;
}
