.portfolioMenu {
  position: relative;
}

.portfolioMenuButtons {
  margin-left: 10px;
  width: fit-content;
  height: fit-content;
}

.portfolioList {
  list-style: none;
  position: absolute;
  background-color: rgba(14, 13, 13, 0.856);
  margin-top: 0px;
  margin-left: 10px;
  display: grid;
  gap: 5px;
  padding-right: 50px;
  line-break: 10px;
}

.portfolioListItem {
  display: flex;
  width: fit-content;
}

.portfolioListItem:hover {
  color: aliceblue;
  cursor: pointer;
}
