.centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.CryptoSpace {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 800px;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
}

.blabla {
  margin-top: 20px;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blablaCont {
  margin: 0;
  padding: 0;
}
.nextButton,
.prevButton {
  background-color: black;
  color: white;
  margin: 5px;
}
