.alertContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(14, 13, 13, 0.856);
  width: fit-content;
  height: 200px;
  border: 2px solid black;
  z-index: 1000;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.alertCloseBtnContainer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.alertMessageContainer {
  width: 90%;
  height: 90%;
  display: flex;
}
.alertCloseBtn {
  width: 25px;
  height: 25px;
}

.alertCloseBtn:hover {
  background-color: black;
}

.alertMessage {
  font-size: 18px;
}

.alerMessageDeleteCoinBtnContainer {
  position: absolute;
  bottom: 50px;
}
.alertMessageDeleteCoinBtn {
  background-color: black;
  border: 1px solid white;
  color: red;
}
.alertMessageDeleteCoinBtn:hover {
  color: yellowgreen;
}
