.CoinCardUser {
  width: 900px;
  height: 40px;
  font-weight: 700;
  border: 2px solid rgba(12, 11, 11, 0.836);
  background-color: rgb(202, 201, 201);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cmcContainer {
  width: 27%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tickerUserDiv {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 3%;
  margin: 0;
}

.tickerContentContainer {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.tickerUserCont {
  color: black;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.logoUserContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  height: 100%;
  width: 30%;
  margin: 0;
  padding: 0;
  padding-left: 25px;
}
.coinUserLogo {
  width: 23px;
  height: 23px;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.priceUserContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 65%;
  padding-left: 0px;
}
.priceUserContent {
  color: black;
}

.userHoldingsDetails {
  width: 65%;
  height: 100%;
  border: 1px solid blue;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 0px;
}
.userCoinHoldings {
  width: 40%;
  height: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.userBuyPrice {
  width: 15%;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

.holdingsContent {
  color: black;
}

.userCoinQty {
  width: 15%;
  height: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.addPortfolioContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.addBuyDetailsIcon {
  color: greenyellow;
  background-color: black;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.deleteIcon {
  color: black;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.deleteIcon:hover {
  color: red;
}
.editIcon {
  color: green;
  width: 20px;
  height: 20px;
}
.editIcon:hover {
  color: blue;
}

.addBuyDetailsIcon:hover {
  color: yellow;
  background-color: black;
}

.userHoldingsBuyDetailsProfit {
  font-size: 15px;
  width: 60%;
  color: black;
  display: flex;
  justify-content: space-around;
}

.valueDiv {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid green;
}

.coinCardMenuCont {
  color: black;
  font-size: 10px;
  font-weight: 600;
  width: fit-content;
}
