.sugDiv {
  width: 160px;
  height: fit-content;
  position: relative;
  margin-right: 30px;
  display: flex;
  justify-content: center;
}

.inputCoinSearch {
  width: 150px;
}

.sugList {
  position: absolute;
  list-style: none;
  background-color: rgba(14, 13, 13, 0.856);
  color: black;
  height: fit-content;
  width: fit-content;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  left: 2px;
  top: 20px;
}

.sugItem {
  width: 156px;
  color: greenyellow;
  margin: 0 0 10px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
}

.sugItem:hover {
  cursor: pointer;
  background-color: red;
}
