@import url("https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&display=swap");
#root {
  font-family: "Hind Guntur", sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgb(151, 151, 151),
    rgb(0, 0, 0)
  );
  margin: 0;
  padding: 0;
  color: greenyellow;
  min-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
