@import url("https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&display=swap");
#root {
  font-family: "Hind Guntur", sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgb(151, 151, 151),
    rgb(0, 0, 0)
  );
  color: greenyellow;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
